:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #faf7f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
  background-color: #1a1a1a;
} */

/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
*/

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 20px;
  color: #ce2829;
  border: 1px solid transparent;
  padding: 0.9em 1.5em;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: auto;
  align-self: flex-start;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*****************/
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/******** hero *********/

.hero-image {
  min-height: 120vh;
  background-image: url("./public/assets/iteration-1/home-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* contain olunca resmi kırpmıyor ama ekranın tamamını kaplamıyor. */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-btn {
  display: inline-block;
  padding: 10px 40px;
  color: black;
  background-color: #fdc913;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hero-btn:hover {
  background-color: black;
  color: white;
}

.hero-text h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 25px;
}

.hero-sub-text {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: #fdc913;
  margin: 0;
  font-size: 1.3rem;
}

.hero-main-text {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 3.5rem;
  margin: 10px;
  line-height: 1.1em;
}

/******** nav ********/

.navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.navbar a:hover {
  background-color: orange;
}

.navbar .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.4rem;
}

nav {
  padding: 1.5rem;
  background-color: white;
}

/******* main-section ********/

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1080px;
  margin: 0 auto;
}

.special-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.card-left {
  display: flex;
  flex-direction: column;
  background-image: url(./public/assets/iteration-2/cta/kart-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 540px;
  border-radius: 10px;
}

.card-left h2 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 68px;
  line-height: 70px;
  padding-left: 30px;
  margin: 50px 0 0 0;
}

.card-left p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  padding-left: 30px;
  margin: 10px 0 0 0;
}

.card-left button {
  margin-top: 20px;
  margin-left: 30px;
}

.card-right {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 540px;
  gap: 10px;
}

.card-top-right {
  display: flex;
  flex-direction: column;
  background-image: url(./public/assets/iteration-2/cta/kart-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  border-radius: 10px;
  padding-left: 40px;
}

.card-bottom-right {
  display: flex;
  flex-direction: column;
  background-image: url(./public/assets/iteration-2/cta/kart-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 225px;
  border-radius: 10px;
  padding-left: 40px;
}

.card-top-right h2 {
  margin-top: 40px;
}

.card-bottom-right h2 {
  color: black;
  margin-top: 40px;
}

.highlight-red {
  color: red;
}


/****** footer ******/
